* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/Capture.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.logo {
    width: 500px;
    height: auto; 
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}