* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

html, body {
    height: 200%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-image: url("images/1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.overlay {
    -webkit-user-drag: none;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    object-fit: fill;
}

.panel {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-panel {
    background-color: transparent
}

.second-panel {
    background-image: url('images/2.png');
    background-size: cover;
    background-position: center;
}

.logo {
    position: fixed;
    top: 50px; 
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: auto;
}

.navigate-btn {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
}

.navigate-btn:hover {
    background-color: #e74c3c;
}
