body {
    background-image: url('images/Capture.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.logo {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 0;
}